{% extends 'base.html' %}

{% block content %}

    <div class="container justify-content-center">
        <div class="row my-4">
            <a href="{{ url_for('admin.find_restaurant') }}" type="button" class="btn btn-primary btn-lg btn-block">Find Restaurant & Review</a>
            <a href="{{ url_for('admin.create_restaurant_review') }}" type="button" class="btn btn-secondary btn-lg btn-block">Or Enter Restaurant Details Manually & Review</a>
        </div>
        <hr>
    </div>

{% endblock %}
