{% extends 'base.html' %}
{% block content %}

    <div class="container justify-content-center align-items-center d-flex">
        <div class="col-10">
            <div class="card my-5">
                <div class="card-header text-center">
                    <div class="card-title mb-0"><h5>List of Restaurant Reviews</h5></div>
                </div>
                <div class="card-body">

                    <div class="d-flex justify-content-around mb-5">
                        <div class="col-6 text-center">
                            <a href="{{ url_for('admin.find_restaurant') }}" type="button" class="btn btn-primary btn-lg btn-block">Find Restaurant</a>
                        </div>
                        <div class="col-6 text-center">
                            <a href="{{ url_for('admin.create_restaurant_review') }}" type="button" class="btn btn-secondary btn-lg btn-block">Create Review</a>
                        </div>
                    </div>

                    {% include 'components/category_messages.html' %}

                    <table id="table" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Create Date</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for restaurant in restaurants %}
                            <tr>
                                <th><a href="{{ url_for("admin.restaurant_review", id=restaurant.id) }}">{{ restaurant.name }}</a></th>
                                <th>{{ restaurant.date }}</th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
{% endblock %}
