<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The Urban Goose</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# jquery #}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    {# bootstrap #}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>

    {# datatables #}
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">

    {# mapbox #}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet'/>

    {# custom #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}?x={{ range(1, 1000000)  | random }}">

    {% block style %}
    {% endblock %}
</head>

<body>
{% block header %}
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-center align-items-center">
                {% if current_user.is_authenticated %}
                    <div class="col-4 pt-1">
                        <a class="text-muted" href="{{ url_for('admin.find_restaurant') }}">Find & Review Restaurant</a>
                    </div>
                    <div class="col-4 text-center">
                        <a class="blog-header-logo text-dark" href="{{ url_for('blog.home') }}">The Urban Goose</a>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('admin.dashboard') }}">Admin</a>
                    </div>
                {% else %}
                    <div class="col-12 text-center">
                        <a class="blog-header-logo text-dark" href="{{ url_for('blog.home') }}">The Urban Goose</a>
                    </div>
                {% endif %}
            </div>
        </header>

        {#        <div class="nav-scroller py-1 mb-2">#}
        {#            <nav class="nav d-flex justify-content-between">#}
        {#                <a class="p-2 text-muted" href="#">About</a>#}
        {#                <a class="p-2 text-muted" href="#restaurants">Restaurants</a>#}
        {#                <a class="p-2 text-muted" href="#">Contact Us</a>#}
        {#            </nav>#}
        {#        </div>#}
    </div>
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
{% endblock %}

</body>

</html>
